body {
    font-family: sans-serif;
}

.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: black;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}